.road_pc {
    width: 100%;
    box-sizing: border-box;
    background: url('../../../static/images/lb.gif');
}
.road_yd{
    width:100%;
    box-sizing: border-box;
}
.branner{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.road_pc_main,.road_yd_main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
}
.road_yd_main{
    padding: 10px 0;
}
.road_pc_main h4,.road_yd_main h4{
    width: 100%;
    height: 40px;
    background: url('../../../static/images/head_top_5dbed98f.png');
    background-size: 100% 100%;
    line-height: 40px;
    color:#fff;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 20px;
}
.road_pc_main_in,.road_yd_main_in{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}