*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body,#app{
    width: 100%;
    height: 100%;
}
.yd,.mobile,#index{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
  .yd{
    display:block;
  }
  .pc{
    display:none;
  }
}

/* 大屏幕（大桌面显示器，大于等于 768px） */
@media (min-width: 768px ){ 
   .yd{
    display:none;
  }
  .pc{
    display:block;
  }
}